go 1.19

use (
	.
	./service/api/grpc
	./service/api/grpc/cmd/cli
	./service/db/cql
	./service/db/cql/cmd/cli
	./service/db/cql/cmd/gql
	./service/db/cql/cmd/grpc
	./service/db/cql/cmd/http
	./service/repo/go
	./service/repo/go/cmd/cli
)
