go 1.19

use (
	.
	./services/internal/cql
	./services/internal/cql/cmd/cli
	./services/internal/cql/cmd/gql
	./services/internal/cql/cmd/grpc
	./services/internal/cql/cmd/http
	./services/internal/go
	./services/internal/go/cmd/cli
	./services/internal/proto
	./services/internal/proto/cmd/cli
)
